body{
  background-color: black;
  text-align: center;
  margin: 0;
  padding: 0;
}
.apresentacao{
  text-align: center;
  position: absolute;
  top: 30px;
  color: white;
  font-family: didot-serif;
  font-size: 40px;
}
#foto{
  text-align: center;
  display: block;
  height: 400px;
  width: 300px;
  border-radius: 50px;
  border: solid;
}
.magia{
  width: 900px;
  height: 750px
  text-align: center;
  border: solid;
  border-radius: 10px;
  background-color: pink;
  color: black;
  font-family: Courier;
  display: flex;
  position: absolute;
  left: 40px;
}
#magia{
  text-align: center;
  color: white;
  font-family: didot, serif;
  font-style: italic;
  position: absolute;
  left:40px;
}
.cartas{
  width: 900px;
  height: 750px
  text-align: center;
  border: solid;
  border-radius: 10px;
  background-color: pink;
  color: black;
  font-family: Courier;
  position: absolute;
  right: 40px;
}
#cartas{
  text-align: center;
  position: absolute;
  right: 40px;
  color: white;
  font-family: didot, serif;
  font-style: italic;
}
